﻿@model Kontrakty.Models.ContractModel
@using Kontrakty.Database.Models
@{
    ViewBag.Title = "AddContract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .field-validation-error{ color: red; font-weight: bold; }
</style>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<script type="text/javascript">
    function calculateSalary(exp) {
        if (exp.value < 0) {
            exp.value = 0;
        }

        $.ajax({
            type: "GET",
            url: '@Url.Action("CalculateSalary", "Home")',
            data: {
                experience: exp.value,
                type: $("#Type").val()
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });
    }

    function dropdownChanged(drop)
    {
        $.ajax({
            type: "GET",
            url: '@Url.Action("CalculateSalary", "Home")',
            data: {
                experience: $("#Experience").val(),
                type: drop.value
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });
    }

    function successFunc(data, status) {
        $("#Salary").val(data);
    }

    function errorFunc() {
        alert('Wystąpił błąd podczas obliczania stawki');
    }
</script>


<div id="contractForm">
    <div>
        @Html.ValidationSummary()
    </div>
    @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "contractForm"}))
    {
        <div>
            @Html.LabelFor(x => x.Name)
            <br />
            @Html.TextBoxFor(x => x.Name)
            <br />
            @Html.ValidationMessageFor(x => x.Name)
            <br />
            <br />
        </div>
        
        <div>
            @Html.LabelFor(x => x.Type)
            <br />
            @Html.DropDownList("Type",
               EnumHelper.GetSelectList(typeof(ContractType)),
               new { @class = "form-control",  @onchange = "dropdownChanged(this);" })
            <br />
            @Html.ValidationMessageFor(x => x.Type)
            <br />
            <br />
        </div>
        
        <div>
            @Html.LabelFor(x => x.Experience)
            <br />
            @Html.TextBoxFor(x => x.Experience, new { type = "number", min = "0", step = "1", @onchange = "calculateSalary(this);" })
            <br />
            @Html.ValidationMessageFor(x => x.Experience)
            <br />
            <br />
        </div>
        
        <div>
            @Html.LabelFor(x => x.Salary)
            <br />
            @Html.TextBoxFor(x => x.Salary, new { @readonly = true })
            <br />
            @Html.ValidationMessageFor(x => x.Salary)
            <br />
        </div>
        
        <div>
            <br />
            <input type="submit" value="Dodaj kontrakt" />
        </div>
    }
</div>

