﻿@model PagedList.IPagedList<Kontrakty.Database.Models.Contract>
@using PagedList.Mvc;
@using Kontrakty.Database.Models
@using Kontrakty.Infrastructure.Helpers;

<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Typ
        </th>
        <th>
            Doświadczenie
        </th>
        <th>
            Stawka
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
        </tr>
    }
</table>

<br />

Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "contractsTable" }))

<br />
<br />