﻿@using PagedList.Mvc;
@using Kontrakty.Database.Models
@using Kontrakty.Infrastructure.Helpers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var model = (ViewBag.CurrentList as PagedList.IPagedList<Kontrakty.Database.Models.Contract>)
        ?? new PagedList.PagedList<Kontrakty.Database.Models.Contract>(new List<Contract>(), 1, 1);
}


<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div>
            Filtruj po nazwie: @Html.TextBox("NameFilter", ViewBag.NameFilter as string)
            <br />
            Filtruj po typie: @Html.DropDownList("TypeFilter", EnumHelper.GetSelectList(typeof(ContractType)), "Wybierz typ", new { @class = "form-control" })
            <br />
            Filtruj po doświadczeniu: @Html.TextBox("ExperienceFilter", ViewBag.ExperienceFilter as int?, new { type = "number", min = "0", step = "1", @onchange = "calculateSalary(this);" })
            <br />
            Filtruj po zarobkach: @Html.TextBox("SalaryFilter", ViewBag.SalaryFilter as decimal?)
            <br />
            Programiści z 5-letnim stażem: @Html.CheckBox("devWithExperience", (ViewBag.devWithExperience as bool?) ?? false)
            <br />
            Kontrakty ze stawką > 5000: @Html.CheckBox("highSalary", (ViewBag.highSalary as bool?) ?? false)
            <br />
            <input type="submit" value="Filtruj" />
        </div>
    }
</div>

<br />
<br />

<div id="contractsTable">
    @Html.Partial("ContractList", model)
</div>

<div>
    @Html.ActionLink("Nowy kontrakt", "AddContract")
</div>
